    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    </head>
    <body>
    <form method="POST" class="post-form" action="fam/update/{{famili.id}}">
            {% csrf_token %}
        <div class="container">
    <br>
        <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Update Details</h3>
        </div>
      </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Name:</label>
        <div class="col-sm-4">
            <input type="text" name="Fname" id="id_Fname" required maxlength="100" value="{{ famili.Fname }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Contact:</label>
        <div class="col-sm-4">
            <input type="text" name="Fcontact" id="id_Fcontact" required maxlength="20" value="{{ famili.Fcontact }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Aadhar:</label>
        <div class="col-sm-4">
            <input type="text" name="Faadhar" id="id_Faadhar" required maxlength="100" value="{{ famili.Faadhar }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Address1:</label>
        <div class="col-sm-4">
            <input type="text" name="Faddress1" id="id_Faddress1" required maxlength="20" value="{{ famili.Faddress1 }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Address2:</label>
        <div class="col-sm-4">
            <input type="text" name="Faddress2" id="id_Faddress2" required maxlength="100" value="{{ famili.Faddress2 }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Address3:</label>
        <div class="col-sm-4">
            <input type="text" name="Faddress3" id="id_Faddress3" required maxlength="20" value="{{ famili.Faddress3 }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family ration card:</label>
        <div class="col-sm-4">
            <input type="text" name="Fration" id="id_Fration" required maxlength="100" value="{{ famili.Fration }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Arogya Sri Card:</label>
        <div class="col-sm-4">
            <input type="text" name="Farogya" id="id_Farogya" required maxlength="20" value="{{ famili.Farogya }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Member 1:</label>
        <div class="col-sm-4">
            <input type="text" name="Member_1_name" id="id_Member_1_name" required maxlength="100" value="{{ famili.Member_1_name }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Member 1 Aadhar:</label>
        <div class="col-sm-4">
            <input type="text" name="Member_1_aadhar" id="id_Member_1_aadhar" required maxlength="20" value="{{ famili.Member_1_aadhar }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Member 2:</label>
        <div class="col-sm-4">
            <input type="text" name="Member_2_name" id="id_Member_2_name" required maxlength="100" value="{{ famili.Member_2_name }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Member 2 Aadhar:</label>
        <div class="col-sm-4">
            <input type="text" name="Member_2_aadhar" id="id_Member_2_aadhar" required maxlength="20" value="{{ famili.Member_2_aadhar }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Member 3:</label>
        <div class="col-sm-4">
            <input type="text" name="Member_3_name" id="id_Member_3_name" required maxlength="100" value="{{ famili.Member_3_name }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Member 3 Aadhar:</label>
        <div class="col-sm-4">
            <input type="text" name="Member_3_aadhar" id="id_Member_3_aadhar" required maxlength="20" value="{{ famili.Member_3_aadhar }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Member 4:</label>
        <div class="col-sm-4">
            <input type="text" name="Member_4_name" id="id_Member_4_name" required maxlength="100" value="{{ famili.Member_4_name }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Family Member 4 Aadhar:</label>
        <div class="col-sm-4">
            <input type="text" name="Member_4_aadhar" id="id_Member_4_aadhar" required maxlength="20" value="{{ famili.Member_4_aadhar }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-4">
            <input type="number" name="price" id="id_price" required maxlength="100" value="{{ famili.price }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Is Paid:</label>
        <div class="col-sm-4">
            <input type="checkbox" name="paid" id="id_paid" required maxlength="1" value="{{ famili.paid }}" />
        </div>
      </div>
        <dics="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <button type="submit" class="btn btn-success">Update</button>
        </div>
      </div>
        </div>
    </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgR
        Vzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0
        CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0
        p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    </html>